build --action_env=CC=clang
build --action_env=CXX=clang++

build --cxxopt=-std=gnu++23
build --cxxopt=-stdlib=libc++
build --cxxopt=--debug
build --cxxopt=-Wno-unused-command-line-argument
build --strip=never

build --linkopt=-lc++
build --linkopt=-lc++abi